<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <title>Document</title>

    <nav class="container">
        <ul>
            <li><a href="/" class="primary">Buckets</a></li>
        </ul>
    </nav>

</head>
<body>
    <main class="container">
    <h1> Erreur : {% if code %} {{code}} {% endif %}</h1>
    {% if pourquoi %}<h2>{{ pourquoi }}</h2>{% endif %}
    <a href="/">Retourner à l'Accueil</a>
    </main>
</body>
</html>